* {
    border-collapse: collapse;
    box-sizing: border-box;
}

header img {
    height: 500px;
    width: auto;
    border-radius: 10px;
}
header img:hover {
    box-shadow: 0 0 10px black;
}

table{
    border: 2px solid black;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
/* KLeuren zijn nog tijdelijk, heb nog niet besloten aan een kleurenpallet */
table tr:nth-child(even) {
    background-color: #9de3fd;
}
table tr:nth-child(odd) {
    background-color: #6bd7ff;
}
table tr:nth-child(1) {
    background-color: #00c4c7;
}

footer {
    display: flex;
    justify-content: space-between;
}