* {
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/Free_Tech_Background.png");
    background-color: #000000;
    background-size: cover;
    color: white;
}

a {
    color: #001540;
}

header{
    background-color: rgb(96, 176, 251);
    display: flex;
    margin-bottom: 15xp;
    z-index: 2;
}
header img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #001540;
}
header div {
    margin-top: 15px;
}
header div h1 {
    margin-top: 5px;
    margin-bottom: 15px;
}
header img:hover {
    box-shadow: 0 0 10px black;
}
nav {
    display: flex;
    gap: 30px;
}
nav a {
    color: white;
}
ul {
    list-style-position: inside;
}
ul ul {
    padding-left: 35px;
}
ul li {
    padding-bottom: 5px;
}
li::marker {
    color: #001540;
}


main {
    width: 80%;
    margin: auto;
    padding: 15px;
    background-color: rgb(96, 176, 251);
    box-shadow: 0 0 25px black;
    z-index: 1;
}

h1 {
    font-size: 50px;
}
h1, h2, h3, h4 {
    color: #001540;
    text-transform: uppercase;
}

table{
    border: 2px solid black;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
/* KLeuren zijn nog tijdelijk, heb nog niet besloten aan een kleurenpallet */
table tr:nth-child(even) {
    background-color: #9de3fd;
}
table tr:nth-child(odd) {
    background-color: #6bd7ff;
}
table tr:nth-child(1) {
    background-color: #00c4c7;
}

footer {
    padding: 5px 15px;
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 750px;
    border-radius: 10px;
    position: sticky;
    bottom: 5px;
    background-color: rgb(96, 176, 251);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 0 3px black;
}